
/*Base Styles*/

* {
    box-sizing: border-box;
}



html    {
    min-height: 100vh;
}







div     {   
            margin: 5px;
            padding: 5px;
        }






ol      {
            display: flex;

            margin: 20px;
            padding: 5px;

            font-family: sans-serif;
            font-size: 16px;

            color: blue;
        }

li      {

        margin: 20px;
        padding: 5px;

        }
