

/*Base Styles*/

*       {   box-sizing: border-box; }


html    {   height: 100%; }

        
body    {   color: rgb(192, 177, 177);
            
            min-height: 100vh;
            min-width:1000px;         /* Suppose you want minimum width of 1000px */

            width: auto  !important;  /* Firefox will set width as auto */
            width: 1000px;            /* As IE6 ignores !important it will set width as 1000px; */

            background-color: var(--primary-dark);

            font-size: small;   
            font-family: sans-serif;    }


div     {   width: 100vh;   }


p       {   height: auto;
            width: 50%;
            
            font-size: 24px;
            font-family: sans-serif;

            padding: 20px;
            margin-top: 5px;

            color: rosybrown;   }





/*Base Colours*/

:root   {   --body-bg: #3d4e5350;
            --primary: #eaca5b;
            --primary-dark: #2d2b28;
            --white: #ffffff;
            --gray: #20326b75;
            --new: #327e86c4;   }





            /* Footer */

            #page-container     /* maintains 100% of the viewport */
                            {   position: relative;

                                min-height: 100vh;
                                width: 100%;

                                justify-content: center;
                                align-items: center;
                                text-align: center;     }
                                /* elements that are relatively positioned can move around  */
                                /* while still remaining in the regular document flow       */


            #content-wrap   {   width: 100%;

                                justify-content: center;
                                align-items: center;
                                text-align: center;

                                padding-bottom: 5rem;  }
                                /* Footer height */
                            

                #footer     {   position: absolute;
                                bottom: 0;
       
                                /* Footer height */
                                height: 5rem;   
                                width: 100%;
                    
                                justify-content: center;
                                align-items: center;
                                text-align: center;

                                background-color: #3d4e5350;

                                color: rosybrown;     }


                #footer p   {   width: 100%;

                                font-size: 15px;
                                font-style: normal;
                                font-family: tahoma;    }





/*Flexbox Containers*/

.flexbox_container  {   width: 100%;
    
                        display: flex;  

                        flex-direction: column;  
                        flex-wrap: wrap;

                        justify-content: center;
                        align-items: center;
                        text-align: center;     
                    
                        margin-top: 5px;
                        padding: 20px;      }


.flexbox_divs_progress 
                    {   width: 100%;
                        
                        display: inline-flex;  

                        flex-direction: row;
                        flex-wrap: wrap;

                        justify-content:space-around;
                        align-items: center;
                        text-align: center;

                        margin-top: 5px;
                        padding: 20px;      }



.flexbox_divs_answers 
                    {
                        width: 100%;
                        
                        display: flex;  

                        flex-wrap: wrap;

                        justify-content: space-around;
                        text-align: center;

                        margin-top: 5px;
                        padding: 20px;

                        color: rosybrown;   }





/*Header*/

.firstclassstyle    {   display: flex;

                        flex-direction: column; }


.firstclassstyle h1 {   width: 100%;

                        text-align: center;

                        font-size: 42px;
                        font-style: normal;

                        margin-top: 100px;
                        padding: 20px;

                        color: rosybrown;   }


/*Style 1*/

.oneclassstyle  {   text-align: center;

                    margin-top: 5px;
                    padding: 5px;
       
                    color:rgba(138, 19, 92, 0.692); }





/*Style 2*/

.twoclassstyle {    display: flex;
                
                    flex-direction: column;
                    flex-wrap: wrap;

                    justify-content: center;
                    text-align: center;

                    font-size: 26px;
                    font-style: normal;
                    font-family: tahoma;

                    margin-top: 5px;
                    padding: 20px;

                    color: rosybrown;   }






/*Style 4*/

.fourclassstyle {   display: flex;  

                    flex-wrap: wrap;

                    justify-content: space-around;
                    text-align: center;

                    margin-top: 5px;
                    padding: 20px;

                    color: rosybrown;   }


.value .stats {     width: 500px;

                    margin-top: 5px;
                    padding: 20px;

                    color: rosybrown;   }





/*Span*/

.oneclassstyle span {   height: 4px;
                        width: 15%;

                        font-size: 24;
                        
                        margin-top: 5px;
                        padding: 20px;

                        border-radius: 25px;

                        background-color: var(--gray);  }




.oneclassstyle span.seen {  background-color: snow; }





/*Input Form*/

form    {   display: flex;  

            flex-direction: column;
            flex-wrap: wrap;

            justify-content:space-around;
            align-items: center;
            text-align: center;     }


.field {    height: auto;
            width: 250px;

            text-align: center;

            margin-top: 50px;
            padding: 20px;

            border-radius: 15px;    }


button {    /* example of how to denote a small border & border radius */
            width: auto;
            /* changes made    */
            height: auto;
            /* height adjusted */
                
            margin-top: 50px;
            padding: 20px;
    
            border: 2px solid;
            border-radius: 15px;
            border-color: rosybrown;
    
            background-color: #3d4e5350;    
            
            transition: 0.5s;      }
    
    
button:hover  
        {   border-color: snow;
                
            transition: 0.5s;   }





/* Pokemon Image */

img {   transition: 0.5 ease-in-out;    }


img:hover   {   transform: scale(1.5);  }